conn demo-con
        auto=start
        authby=secret                   # Аутентификация по PSK (pre-shared key)
        ike=3des-sha1-modp1024          # Параметры шифрования фазы 1
        keyexchange=ike                 # Протокол обмена ключами фазы 1
        phase2=esp                      # Протокол шифрования фазы 2
        phase2alg=3des-sha1             # Параметры шифрования фазы 2
        compress=no                     # Не сжимать трафик
        pfs=no                          # PFS (Perfect Forward Secrecy) выключен
        type=tunnel                     # Включен тоннельный режим
        left=10.0.0.3                   # Наш(!) публичный адрес
        leftsourceip=10.0.0.3           # Исходящий трафик с этого адреса будет шифроваться
        leftsubnet=192.168.3.0/24       # Сеть за нами, трафик которой будем шифровать и добавим этот маршрут удалённой стороне
        right=10.0.0.2                  # Публичный адрес удалённой стороны
        rightsubnet=192.168.2.0/24      # Сеть удалённой стороны